*.ko
*.o
*.mod.c
*.mod.o
Module.symvers
modules.order
*.cmd
*.mod
si3000/Module.symvers
si3000/ath_si3000.ko
si3000/ath_si3000.mod.c
si3000/ath_si3000.mod.o
si3000/ath_si3000.o
si3000/modules.order
stm32/Module.symvers
stm32/ath_spi_stm32.ko
stm32/ath_spi_stm32.mod.c
stm32/ath_spi_stm32.mod.o
stm32/ath_spi_stm32.o
stm32/modules.order
si3000/.ath_si3000.ko.cmd
si3000/.ath_si3000.mod.o.cmd
si3000/.ath_si3000.o.cmd
si3000/.tmp_versions/ath_si3000.mod
stm32/.ath_spi_stm32.ko.cmd
stm32/.ath_spi_stm32.mod.o.cmd
stm32/.ath_spi_stm32.o.cmd
stm32/.tmp_versions/ath_spi_stm32.mod
