body {scrollbar-arrow-color: #000099;border-color: #FFFFFF;   }
.text {      font-family: Arial;
               font-size: 12px; 
                   color: #009900; 
              font-style: normal;
             line-height: 18px;
             font-weight: normal}
.text2 {     font-family: Arial;
               font-size: 10px;
                   color: #333333}
.textout {   font-family: courier, monospace;
               font-size: 10px;
             line-height: 8px;
                   color: black;
             font-weight: bold}
.SideNav {   font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 12px; 
                   color: blue;
         text-decoration: none;
             font-weight: bold}
.headch {    font-family: Arial;
               font-size: 14px;
             font-weight: bold;
                   color: black;
              visibility: hidden;}
.headsm {    font-family: Arial;
               font-size: 10px;
             font-weight: bold;
                   color: black}
.topnavg {   font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 11pt;
              font-color: #FFFFFF;
             font-weight: bold}
.title  {    font-family: Arial;
               font-size: 22px;
             font-weight: bold;
                   color: black}
.doctitle {  font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 14px;
                   color: green;
             font-weight: bold;
             line-height: normal ;
         text-decoration: none}
.header {    font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 12px;
                   color: blue;
             font-weight: bold;
         text-decoration: none}
.headerBLK { font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 12px;
                   color: black;
             font-weight: bold;
         text-decoration: none}
.header2 {   font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 11px;
                   color: #DF0026;
             font-weight: bold;
             line-height: normal }
.header3 {   font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 10px;
                   color: #666666;
             font-weight: bold;
             line-height: normal;
         text-decoration: none}
.homepghd {  font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 8pt;
                   color: #000066;
         text-decoration: none;
              font-style: normal;
             line-height: normal;
             font-weight: bold}
.homelabel { font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 8pt;
                   color: black;
         text-decoration: none;
              font-style: normal;
             line-height: normal;
             font-weight: bold}
.headind {   font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 10px;
             text-indent: 10px;
                   color: #666666;
             font-weight: bold;
             line-height: normal;
         text-decoration: none}
.helptxt {         float: right; 
             font-family: Verdana, Arial, Helvetica, sans-serif; 
               font-size: 9px;
                   width: 50em; 
                  margin: 0 0 0 0.2em;
            padding-left: 0.2em;
              background: beige}
#div1       { visibility: hidden; }
#div2       { visibility: hidden; }
#div3       { visibility: hidden; }
#div4       { visibility: hidden; }
a:hover { color: #CB6500; font-weight: bolder}
a:link{text-decoration:none; color:blue;}
a:visited{text-decoration:none; color:green;}
a:active{text-decoration:none; color:#6495ed;}
