@charset "utf-8";
*{ padding:0; margin:0;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both; }
body {background-color:#ECEDEF; font-size:12px; font-family:"微软雅黑";}
a{text-decoration: none; font-size: 12px;}

/*  公共部分开始 */

.handaer_top{ height:72px; background:url(../images/dh_bj.png) repeat-x;}
.handaer_top_l{height:72px; padding-left:20px; }
.handaer_top_r{ width:380px; overflow:hidden; text-align:right; padding-right:10px;}
.handaer_top_r_top{ height:30px; line-height:30px; color:#FFF;}
.handaer_top_r_top a{ font-size:12px; color:#FFF; padding:0 10px; cursor:hand}
.handaer_top_r_top a:hover{text-decoration: underline; color:#CE4034;}
.handaer_top_r_bottom{ height:42px; line-height:42px; color:#FFF;}
.handaer_top_r_bottom a{ font-size:14px; color:#FFF; padding:0 10px; cursor:hand; float:right;}
.handaer_top_r_bottom a:hover{text-decoration: underline; color:#CE4034;}

/* 头部结束  */
.handaer_left{width:200px; font-size:14px;}
.handaer_left dl dt{ height:40px; line-height:40px; color:#D0D0D0; border-bottom:1px solid #d0d0d0; padding-left:20px; font-weight:800;}
.handaer_left dl dd { height:35px; width:200px; margin:10px 0;  } 
.handaer_left dl dd a { padding-left:20px; height:35px; line-height:35px; font-size:14px; color:#848484; background:url(../images/button_bj2.gif) no-repeat 0 0; display:block; overflow:hidden;}
.handaer_left dl dd a:hover{background: color:#fff;}
.handaer_common{ padding-left:20px; height:35px; line-height:35px; font-size:14px; color:#fff!important; background:url(../images/button_bj.gif) no-repeat 0 0!important; display:block; overflow:hidden; }
/* 左侧导航结束  */

.handaer_main{ background-color:#fff;overflow:hidden; padding:10px;}
* html .handaer_main{height:400px;overflow:visible;}
.handaer_main { min-height:400px;overflow:visible;}
/*.handaer_main:after{content:"";display:block;height:0;clear:both}*/

.handaer_main table { width:100%!important; overflow:hidden;}
.handaer_main table td{ height:30px; line-height:30px; padding:5px;}
.handaer_main table h1{ border-bottom:1px dotted #d0d0d0; padding-bottom:10px; margin-bottom:10px;}
.handaer_main  input{  BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px;  BORDER-RIGHT-WIDTH: 0px; margin-top:10px;}
.handaer_input{
width:138px; height:48px;   
color: #333; font-weight: 800; background:url(../images/button.gif) 0 0  no-repeat!important; cursor:hand; 
}
.handaer_input1{
width:138px; height:48px; 
color: #333; font-weight: 800; background:url(../images/button2.gif) 0 0  no-repeat!important; cursor:hand; 
}
.handaer_small_button{ width:150px; height:25px; line-height:25px; background:url(../images/sbutton.png) 0 0  no-repeat!important; cursor:hand; }
.handaer_text{ border:1px solid #d0d0d0;}
.handaer_text td{  border-bottom:1px solid #d0d0d0;}
.handaer_text_content{ border:1px solid #d0d0d0!important; height:30px; line-height:30px;}
.handaer_text_small_content{ border:1px solid #d0d0d0!important; height:20px; line-height:20px;}

.handaer_main2{ background-color:#fff;overflow:hidden; padding:10px;}
* html .handaer_main2{height:400px;overflow:visible;}
.handaer_main2{min-height: 400px;overflow: visible;position: relative; font-size:14px; color:#848484;}
.handaer_main2 span{ overflow:hidden;}
.handaer_txt1{ position:absolute; left:300px; top:70px;}
.handaer_txt2{ position:absolute; left:125px; top:385px;}
.handaer_txt3{ position:absolute; left:900px; top:108px;}
.handaer_txt4{ position:absolute; left:302px; top:380px;}
.handaer_txt5{ position:absolute; left:776px; top:100px;}

 option.selected {color: White;background-color: Cyan;}