

p {
  font-size: 9pt; 
  margin-left: 10px;
  font-family: 微软雅黑, Arial, Helvetica, sans-serif; color: #848484
}

h1 {
  font-size: 14pt; font-weight: bold;
  margin-left: 10px;
  font-family: 微软雅黑, Arial, Helvetica, sans-serif; color: #848484
}

h2 {
	font-size: 12pt; font-weight: bold;
; margin-left: 10px
; font-family: 微软雅黑, Arial, Helvetica, sans-serif; color: #848484
}

h3 {
  font-size: 10pt; font-weight: bold;
  margin-left: 10px;
  font-family: 微软雅黑, Arial, Helvetica, sans-serif; color: #848484
}

h4 {
  font-size: 9pt; font-weight: bold;  margin-left: 10px ; font-family: 微软雅黑, Arial, Helvetica, sans-serif; color: #46351F
}

/*pre {
  line-height: normal;
  color: #0A0A8C;
font-family: 微软雅黑, "Courier New", Courier, mono; font-size: 9pt; margin-left: 10px; background-color: #EEEEEE; padding-left: 20px
; padding-top: 5px; padding-bottom: 5px; padding-right: 20px
}
*/
table {
  border: 0px;
}

table.body {
  border: 0px;

}

td.title {
  margin-left: 5px;
  background-color: #e6e6e6;
  font-weight: bold;
  white-space: nowrap;
  font-size:14px;
 
}
td.title2 {
  margin-left: 5px;
  font-size: 9pt;
  font-weight: bold;  
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  white-space: nowrap;
  color: #000000
 
}

td.subtitle {
  background-color: #3C6EB4;
  font-style: italic;
  color: #FFFFFF
}

td.head {
  width: 20%;
  font-size: 9pt; 
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  white-space: nowrap;
  color: #000000
}
td.head_s {
  width: 25%;
  font-size: 9pt; 
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  white-space: nowrap;
  color: #000000
}
td.head1 {
  width: 20%;
  font-size: 9pt; 
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  white-space: nowrap;
  color: #000000
}

td.head2 {
  width: 25%;
  font-size: 9pt; 
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  white-space: nowrap;
  color: #000000
}

tr.tr_qos1 {
  font-size: 9pt; 
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #FFF8E8;
  white-space: nowrap;
  color: #000000
}

tr.tr_qos2 {
  font-size: 9pt; 
  font-family: 微软雅黑,Arial, Helvetica, sans-serif;
  background-color: #CCFFCC;
  white-space: nowrap;
  color: #000000
}

td.head_filter {
  width: 5%;
  font-size: 9pt; 
  font-family: 微软雅黑,Arial, Helvetica, sans-serif;
  background-color: #E8F8FF;
  color: #000000
}

td {
  font-size: 9pt; 
  font-family:微软雅黑, Arial, Helvetica, sans-serif;
  color: #000000
}

ol {
  margin-left: 40px; color: #000000; font-family: 微软雅黑,Arial, Helvetica, sans-serif; font-size: 9pt
}

ul {
  font-size: 9pt; margin-left: 30px; font-family: 微软雅黑,Arial, Helvetica, sans-serif; color: #000000
}
dd {
  font-size: 9pt; margin-left: 30px; font-family: 微软雅黑,Arial, Helvetica, sans-serif; color: #000000
}

select{
  font-size: 9pt; 
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  color: #000000
}